{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-content">

        <p class="d-flex justify-content-center pt-3">
            Custom Designs • Graphic Realism • Saturated Realism
        </p>

    </div>
</section>

<section class="about py-3">

    <div class="row align-items-center">
        
        <!-- LEFT: Logo -->
        <div class="col-md-6 text-center">
            <img src="{% static 'images/InkbyJordLogo.jpg' %}" alt="InkbyJord Logo" class="img-fluid"
            style="max-width: 300px; height: auto;">
        </div>

        <!-- RIGHT: About text -->
        <div class="col-md-6">

            <h2>About Jordan</h2>

            <p>
                Hello, my name is Jordan O'Leary.
                <br>
                <br>My beginning into tattooing was one of more curiosity than anything else. From the moment I put ink into skin I became obsessed and fascinated with the art of tattooing.
                I have been tattooing for over two years, specialising in graphic and saturated realism.
                I have spent the vast majority of my time studying realistic portraiture and how best to translate it to skin. Creating tattoos that heal cleanly and stand the test of time remains my primary focus.
            </p>

            <p>
                Welcome to my private studio in Carrigtwohill, Co. Cork. I look forward to creating something unique for you.
            </p>

    </div>

    </div>
    

</section>

<section class="portfolio-preview py-3">

    <div class="container text-center">

        <h2 class="mb-4">Recent Work</h2>

        <!-- Gallery Preview Row -->
        <div class="row g-4 justify-content-center">

            <div class="col-12 col-md-4">
                <img class="img-fluid rounded shadow-sm" src="{% static 'images/Tattoo_-_Dog_on_thigh.JPEG' %}" alt="Dog Portrait on Thigh">
            </div>

            <div class="col-12 col-md-4">
                <img class="img-fluid rounded shadow-sm" src="{% static 'images/Tattoo-abstract-girl-red_splash.jpg' %}" alt="Avante Garde Girl with Abstract Red">
            </div>

            <div class="col-12 col-md-4">
                <img class="img-fluid rounded shadow-sm" src="{% static 'images/Tattoo-octopus-forearm.JPEG' %}" alt="Octopus on Forearm">
            </div>

        </div>

        <!-- Button to Portfolio Page -->
        <div class="mt-5">
            <a href="{% url 'gallery' %}" class="btn btn-dark px-4 py-2">
                View Full Portfolio
            </a>
        </div>

    </div>

</section>

<section class="location">

    <h2>Studio Location</h2>

    <p>Carrigtwohill, Co. Cork</p>

    <iframe
        src="YOUR_GOOGLE_MAPS_EMBED_LINK"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>

</section>

{% endblock %}