:root {
    --black: #0d0d0d;
    --dark-green: #13261d;
    --gold: #c9a35d;
    --off-white: #f5f2eb;
}

body {
    margin: 0;
    background: var(--black);
    color: var(--off-white);
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background: rgba(13,13,13,.95);

    border-bottom: 1px solid rgba(201,163,93,.3);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo a {
    color: var(--gold);
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
}

.nav-links a:hover {
    color: var(--gold);
}

.hero {
    height: 85vh;

    background:
        linear-gradient(rgba(0,0,0,.65),
        rgba(0,0,0,.65)),
        url("/static/images/hero.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.about,
.location {
    padding: 100px 20px;
}

.about {
    background: var(--dark-green);
}

.container {
    max-width: 1000px;
    margin: auto;
}

.about h2,
.location h2,
.portfolio-preview h2 {
    color: var(--gold);
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-preview {
    padding: 100px 20px;
    background: #111;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.portfolio-button {
    text-align: center;
    margin-top: 40px;
}

.btn-gold {
    display: inline-block;
    padding: 14px 28px;
    background: var(--gold);
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-gold:hover {
    opacity: .9;
}

.location {
    text-align: center;
}

.location iframe {
    margin-top: 30px;
    border-radius: 12px;
}

footer {
    background: #080808;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid rgba(201,163,93,.2);
}

.footer-content h3 {
    color: var(--gold);
    margin-bottom: 10px;
}