{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Success message -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Contact page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center">Enquiries</h1>
            <!-- Contact Us form-->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ contact_form|crispy }}  
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}